@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-accent: #FF6363;
    --color-accent-hover: #FF1F1F;
}

@layer base {
    html {
        @apply antialiased;
        font-family: 'Montserrat', sans-serif;
    }

    body {
        @apply bg-white text-black;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-3xl md:text-4xl lg:text-5xl;
    }

    h2 {
        @apply text-2xl md:text-3xl;
    }

    h3 {
        @apply text-xl md:text-2xl;
    }

    a {
        @apply transition-all duration-200;
    }
}